body {
  margin-top: 30px;
  background-color: #F3EFE0;
}

header {
  text-align: center;
}

h1 {
  font-size: 68px;
  color: #4389Ef;
}

h3 {
  font-size: 34px;
}

.content {
  margin-top: 30px;
}

.class {
  margin-top: 20px;
}

#language {
  margin-top: 20px;
  border: 1px solid black;
  width: 300px;
}

.languagetitle {
  font-size: 16px;
}

#word {
  color: red;
}

.samples {
  margin-top: 30px;
}

.defbox {
  border: 1px black solid;
  border-width: 5px;
  border-radius: 15px;
  height: 100vh;
  margin-left: 10px;
}

.text {
  margin-left: 45px;
}

.highlight {
  background-color: yellow;
}
